.main__footer {
  line-height: 2em;
  background-color: var(--darkorange);
  color: var(--white)
}

/* TOP FOOTER */
.footer__top {
  padding: 50px;
}

.footer__top a {
  color: var(--white);
  text-decoration: underline;
}
.footer__top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 150px;
  padding: 50px 0;
  justify-content: center;
}

.footer__top .container div h2 {
  font-weight: 400;
  margin-bottom: 30px;
}

.footer__top .container div span {
  font-weight: bold;
}

.footer__top #au__button {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 2px solid var(--white);
  margin-top: 20px;
  text-decoration: none; 
  transition: all 700ms ease; 
}

.footer__top #au__button:hover {
  background-color: var(--white);
  color: var(--darkorange);
}

/* BOTTOM FOOTER */

.footer__bottom {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.171);
}

.footer__bottom .container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer__bottom .bottom__socmed ul {
  display: flex;
  column-gap: 10px;
}

.footer__bottom div > a {
  padding: 2px 3px;
  font-size: spx;
  color: var(--white);
}

.bottom__socmed a {
  padding: 10px;
  color: var(--white);
  border: 2px solid var(--white);
  font-size: 20px;
  transition: all 700ms ease;
}

.bottom__socmed a:hover {
  background-color: var(--white);
  color: var(--darkorange);
}

.bottom__socmed ul li:first-child a {
  padding: 10px 15px;
}
