* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}